* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.asideRight {
  position: relative;
  overflow: hidden;
  font-family: system-ui, "Segoe UI", "Roboto";
  display: block;
  height: 100%;
  width: 20%;
  background-color: #efefef;
  padding: 20px;
  color: black;
}

.trending_box {
  margin: 5px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-bottom: 1px solid black;
}

.recently_box {
  margin: 5px 0px 10px 0px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

a {
  font-family: system-ui, "Segoe UI", "Roboto";
  font-weight: 470;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  padding: 16px;
  text-align: start;
}

a:hover {
  background-color: #fff;
  padding: 16px;
  width: 100%;
  text-align: start;
  color: blue;
}

h4 {
  font-size: 14px;
  padding: 8px 0px;
  color: black;
}

@media only screen and (max-width: 600px) {
  .asideRight {
    visibility: hidden;
  }
}
@media only screen and (min-width: 600px) {
  .asideRight {
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .asideRight {
    visibility: hidden;
  }
}
@media only screen and (max-width: 900px) {
  .asideRight {
    visibility: hidden;
  }
}
@media only screen and (min-width: 1300px) {
  .asideRight {
    visibility: visible;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: azure;
}

nav {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5;
  height: 100 px;
  background-color: aliceblue;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.lista {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hiperEnlaceLogo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

.bloqueSearch {
  height: 100%;
  width: 600px;
  margin: 20px;
}

.searchInput {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: medium;
  border-radius: 7px;
  border-color: rgba(77, 72, 72, 0.733);
  border-width: 1px;
}

.contenedorLupa {
  height: 100%;
  width: 30px;
}

.lupa {
  float: left;
  width: 100%;
  height: 100%;
  margin: 4px 2px 0px 80px;
  display: flex;
  align-items: center;
  font-size: medium;
  cursor: pointer;
  background-color: aliceblue;
}

.buttonlogIn {
  background-color: rgba(253, 255, 255, 0);
  width: 188px;
  text-align: center;
  text-decoration: none;
  color: rgb(64, 61, 61);
  padding: 8px 15px;
  margin: 4px 2px 4px 700px;
  padding: 8px 15px;
  justify-content: right;
  font-size: medium;
  border: 0cap;
  cursor: pointer;
  /* */
}

.contenedorBoton {
  width: 188px;
  text-align: center;
  margin: 4px 2px 4px -60px;
  padding: 8px 15px;
  justify-content: right;
}

.buttonCreateAccount {
  background-color: azure;
  border-color: rgb(37, 43, 196);
  width: auto;
  text-align: center;
  text-decoration: none;
  color: rgb(37, 43, 196);
  padding: 8px 15px;
  border-radius: 7px;
  justify-content: right;
  font-size: medium;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
  border-width: 1px;
}

.buttonCreateAccount:hover {
  color: rgb(246, 243, 243);
  background-color: rgb(37, 43, 196);
  text-decoration: underline;
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/*medidas extra grande*/
@media (max-width: 2000px) {
  .lista {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .hiperEnlaceLogo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 5px 30px 5px 300px;
  }
  .bloqueSearch {
    height: 35px;
    width: 350px;
    margin: 5px;
  }
  .searchInput {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: medium;
    border-radius: 7px;
    border-color: rgba(77, 72, 72, 0.733);
    border-width: 1px;
  }
  .contenedorLupa {
    height: 100%;
    width: 30px;
  }
  .lupa {
    float: left;
    width: 100%;
    height: 100%;
    margin: 4px 2px 0px -45px;
    display: flex;
    align-items: center;
    font-size: medium;
    cursor: pointer;
    background-color: rgba(240, 255, 255, 0);
  }
  .buttonlogIn {
    background-color: rgba(253, 255, 255, 0);
    width: 188px;
    text-align: center;
    text-decoration: none;
    color: rgb(64, 61, 61);
    padding: 8px 15px;
    margin: 4px 2px 4px 550px;
    padding: 8px 15px;
    justify-content: right;
    font-size: medium;
    border: 0cap;
    cursor: pointer;
    /* */
  }
  .contenedorBoton {
    width: 188px;
    text-align: center;
    margin: 4px 2px 4px -60px;
    padding: 8px 15px;
    justify-content: right;
  }
  .buttonCreateAccount {
    background-color: azure;
    border-color: rgb(37, 43, 196);
    width: auto;
    text-align: center;
    text-decoration: none;
    color: rgb(37, 43, 196);
    padding: 8px 15px;
    border-radius: 7px;
    justify-content: right;
    font-size: medium;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    border-width: 1px;
  }
  .buttonCreateAccount:hover {
    color: rgb(246, 243, 243);
    background-color: rgb(37, 43, 196);
    text-decoration: underline;
  }
}
/* ______________________________________*/
@media (max-width: 1440px) {
  .lista {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .hiperEnlaceLogo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 5px 60px;
  }
  .bloqueSearch {
    height: 35px;
    width: 350px;
    margin: 5px;
  }
  .searchInput {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: medium;
    border-radius: 7px;
    border-color: rgba(77, 72, 72, 0.733);
    border-width: 1px;
  }
  .contenedorLupa {
    height: 100%;
    width: 30px;
  }
  .lupa {
    float: left;
    width: 100%;
    height: 100%;
    margin: 4px 2px 0px -45px;
    display: flex;
    align-items: center;
    font-size: medium;
    cursor: pointer;
    background-color: rgba(240, 255, 255, 0);
  }
  .buttonlogIn {
    background-color: rgba(253, 255, 255, 0);
    width: 188px;
    text-align: center;
    text-decoration: none;
    color: rgb(64, 61, 61);
    padding: 8px 15px;
    margin: 4px 2px 4px 550px;
    padding: 8px 15px;
    justify-content: right;
    font-size: medium;
    border: 0cap;
    cursor: pointer;
    /* */
  }
  .contenedorBoton {
    width: 188px;
    text-align: center;
    margin: 4px 2px 4px -60px;
    padding: 8px 15px;
    justify-content: right;
  }
  .buttonCreateAccount {
    background-color: azure;
    border-color: rgb(37, 43, 196);
    width: auto;
    text-align: center;
    text-decoration: none;
    color: rgb(37, 43, 196);
    padding: 8px 15px;
    border-radius: 7px;
    justify-content: right;
    font-size: medium;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    border-width: 1px;
  }
  .buttonCreateAccount:hover {
    color: rgb(246, 243, 243);
    background-color: rgb(37, 43, 196);
    text-decoration: underline;
  }
}
/* ______________________________________*/
@media (max-width: 992px) {
  .hiperEnlaceLogo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0px;
  }
  .bloqueSearch {
    height: 35px;
    width: 350px;
    margin: 5px;
  }
  .searchInput {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: medium;
    border-radius: 7px;
  }
  .contenedorLupa {
    height: 100%;
    width: 30px;
  }
  .lupa {
    float: left;
    width: 100%;
    height: 100%;
    margin: 4px 2px 0px 5px;
    display: flex;
    align-items: center;
    font-size: medium;
    cursor: pointer;
    background-color: aliceblue;
  }
  .buttonlogIn {
    background-color: rgba(253, 255, 255, 0);
    width: 188px;
    text-align: center;
    text-decoration: none;
    color: rgb(64, 61, 61);
    padding: 8px 15px;
    margin: 4px 2px 4px 250px;
    padding: 8px 15px;
    justify-content: right;
    font-size: medium;
    border: 0cap;
    cursor: pointer;
    /* */
  }
  .contenedorBoton {
    width: 188px;
    text-align: center;
    margin: 4px 2px 4px -70px;
    padding: 8px 15px;
    justify-content: right;
  }
  .buttonCreateAccount {
    background-color: azure;
    border-color: rgb(37, 43, 196);
    width: auto;
    text-align: center;
    text-decoration: none;
    color: rgb(37, 43, 196);
    padding: 8px 15px;
    border-radius: 7px;
    justify-content: right;
    font-size: medium;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
  }
  .buttonCreateAccount:hover {
    color: rgb(246, 243, 243);
    background-color: rgb(37, 43, 196);
    text-decoration: underline;
  }
}
/*medidas celular*/
@media (max-width: 600px) {
  .hiperEnlaceLogo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 20px;
  }
  .bloqueSearch {
    display: none;
  }
  .searchInput {
    display: none;
  }
  .contenedorLupa {
    height: 100%;
    width: 30px;
  }
  .lupa {
    float: left;
    width: 100%;
    height: 100%;
    margin: 4px 2px 2px 300px;
    display: flex;
    align-items: center;
    font-size: medium;
    cursor: pointer;
    background-color: rgba(240, 255, 255, 0);
  }
  .buttonlogIn {
    display: none;
    /* */
  }
  .buttonCreateAccount {
    background-color: azure;
    border-color: rgb(37, 43, 196);
    width: auto;
    text-align: center;
    text-decoration: none;
    color: rgb(37, 43, 196);
    padding: 8px 15px;
    margin: 4px 2px 2px 320px;
    border-radius: 7px;
    justify-content: right;
    font-size: medium;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
  }
  .buttonCreateAccount:hover {
    color: rgb(246, 243, 243);
    background-color: rgb(37, 43, 196);
    text-decoration: underline;
  }
}
footer {
  background-color: azure;
}

.pFooter {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: rgb(64, 61, 61);
  padding: 8px 15px;
  padding: 8px 15px;
  justify-content: right;
  font-size: small;
  border: 0cap;
  cursor: pointer;
}

.pFooter a {
  text-decoration: none;
}

body {
  height: 95vh;
  background-color: rgba(15, 231, 231, 0.5);
  font-family: sans-serif;
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(233, 148, 44);
  padding: 2px 0 2px 0;
  text-align: center;
}

.main {
  display: flex;
  flex: 1;
}

.left {
  background-color: rgb(76, 233, 44);
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

main {
  background-color: purple;
  padding: 4em 0 4em 0;
  flex: 5 5 150px;
}

.right {
  background-color: grey;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

footer {
  background-color: rgb(224, 103, 103);
  padding: 1em 0 1em 0;
}

@media all and (max-width: 550px) {
  .main {
    flex-direction: column;
  }
  main {
    padding: 5em 0 5em 0;
  }
}/*# sourceMappingURL=main.css.map */