* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.asideRight {
  position: relative;
  overflow: hidden;
  font-family: system-ui, "Segoe UI", "Roboto";
  display: block;
  height: 100%;
  width: 20%;
  background-color: #efefef;
  padding: 20px;
  color: black;
}

.trending_box {
  margin: 5px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-bottom: 1px solid black;
}

.recently_box {
  margin: 5px 0px 10px 0px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

a {
  font-family: system-ui, "Segoe UI", "Roboto";
  font-weight: 470;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  padding: 16px;
  text-align: start;
}

a:hover {
  background-color: #fff;
  padding: 16px;
  width: 100%;
  text-align: start;
  color: blue;
}

h4 {
  font-size: 14px;
  padding: 8px 0px;
  color: black;
}

@media only screen and (max-width: 600px) {
  .asideRight {
    visibility: hidden;
  }
}

@media only screen and (min-width: 600px) {
  .asideRight {
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .asideRight {
    visibility: hidden;
  }
}

@media only screen and (max-width: 900px) {
  .asideRight {
    visibility: hidden;
  }
}

@media only screen and (min-width: 1300px) {
  .asideRight {
    visibility: visible;
  }
}
