footer {
  background-color: azure;
}

.pFooter {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: rgb(64, 61, 61);
  padding: 8px 15px;
  padding: 8px 15px;
  justify-content: right;
  font-size: small;
  border: 0cap;
  cursor: pointer;
}

.pFooter a {
  text-decoration: none;
}
